
#header {
	margin-top:10px;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	border-radius: 5px;
	padding:20px,20px,20px,20px;
	background-color: #C2D6D6;
	height:40 px;


}
div li {
	margin:3 em;
	list-style-type:none;
	display:inline-block;
	padding:5px;
}
div li a:hover {
	text-decoration:none;
}
.logout {
	right:0 px;
}
#content {
	width:80%;
	height:600px;
	margin-left:auto;
	margin-right:auto;
}
#footer {
	margin-right:auto;
	margin-left:auto;
	width:80%;
	border-radius: 5px;
	height:40 px;
	background-color: #C2D6D6;
	padding:2px,2px,2px,2px;

}
