<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="../stylesheets/main.css"/>
		<!-- Bootstrap -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
		<title>Lunch with Me</title>
	</head>
	
	<body>
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
 
					<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
 
					<!-- Be sure to leave the brand out there if you want it shown -->
					<a class="brand" href="#">Lunch with Me!</a>
 
					<!-- Everything you want hidden at 940px or less, place within here -->
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li class="active"><a href="/">Home</a></li>
							<li><a href="/lunchwithme">Login</a></li>
						</ul>
						
						<!-- .nav, .navbar-search, .navbar-form, etc -->
					</div>
 
				</div>
			</div>
		</div>
		<p> No more lonely lunches alone! Check out who's free to lunch with you now!</p>
		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>